{{ define "main" }}
<div class="content container">
  <div class="post">
    <h1 class="post-title">{{ .Title }}</h1>
    <span class="post-date">
        {{ .Date.Format "Jan 2, 2006" }}
        &middot; {{ .ReadingTime }} minute read
        {{ if isset .Params "categories" }}
        &middot;
        {{ range .Params.categories }}
        <a class="label" href="{{ "/" | absURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
        {{ end }}
    </span>
    {{ .Content }}
  </div>
</div>
{{ end }}
