/******************************************************************************/
/* Main. */

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
}

body {
    color: #515151;
    background-color: #fff;
}

/******************************************************************************/
/* Links. */

a {
    color: #268bd2;
    text-decoration: none;
}

a strong {
    color: inherit;
}

a:focus,
a:hover {
    text-decoration: underline;
}

/******************************************************************************/
/* Headlines. */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.8rem;
    font-weight: 400;
    line-height: 1.25;
    color: #313131;
}

h1 {
    font-size: 2rem
}

h2 {
    font-size: 1.5rem
}

h3 {
    font-size: 1.25rem
}

h4,
h5,
h6 {
    font-size: 1rem
}

/******************************************************************************/
/* Paragraphs and lists. */

p, {
    margin-top: 0;
    margin-bottom: 1rem
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem
}

/******************************************************************************/
/* Code and timestamps. */

code, pre, .timestamp {
    font-family: 'Inconsolata', monospace;
}

/* See also label class. */
.timestamp {
    color: #369;
    background-color: #eee;
    display: inline;
    border-radius: .25em;
    /* Compensate white space on the right (T R B L). */
    padding: .2em 0em .2em .4em;
    /* Compensate white space on the right. */
    margin: 0 .25em 0 0;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}

pre .timestamp {
    padding: 0;
    color: inherit;
    background-color: transparent
}

/******************************************************************************/
/* Images. */

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
}

/******************************************************************************/
/* Tables. */

table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse
}
td,
th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: #f9f9f9
}

/******************************************************************************/
/* Quotes */

blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
    margin-bottom: 0;
}
@media (min-width: 48em) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem;
    }
}


/******************************************************************************/
/* Labels. */

a.label:focus,
a.label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.label:empty {
    display: none
}

/* See also timestamp class. */
.label {
    background-color: #eee;
    display: inline;
    border-radius: .25em;
    /* Compensate white space on the right (T R B L). */
    padding: .2em .4em .2em .4em;
    /* Compensate white space on the right. */
    margin: 0 .25em 0 0;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}

/******************************************************************************/
/* Forms. */

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0 40px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

/******************************************************************************/
/* Containers. */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto
}

/******************************************************************************/
/* Sidebar. */

.sidebar .lead {
}

.sidebar {
    text-align: center;
    /* padding: 2rem 2rem; */
    color: rgba(255,255,255,.5);
    background-color: #202020
}

@media (min-width:48em) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20rem;
        text-align: left
    }
}

@media (min-width:48em) {
    .sidebar-sticky {
        padding: 0 1rem 1rem 2rem;
        position: absolute;
        bottom: 0rem;
    }
}

.sidebar-about img {
    margin: 0 auto .5rem;
    width: 100px;
    height: 100px
}

@media (min-width:48em) {
    .sidebar-about img {
        margin: 0 auto .75rem;
        width: 125px;
        height: 125px
    }
}

@media (min-width:64em) {
    .sidebar-about img {
        margin: 0 auto 1rem;
        width: 150px;
        height: 150px
    }
}

.sidebar-about h1 {
    color: #fff;
    font-weight: 400;
    font-size: 1.75rem
}

.sidebar a {
    color: #fff
}

.sidebar-nav {
    padding-left: 0;
    list-style: none;
    margin-bottom: 1rem;
    display: inline-block
}

/* Improve alignment when centered on small screens. */
.sidebar-nav-item {
    display: block;
    line-height: 1.75;
    text-align: left
}

.sidebar .footer {
    font-size: .8rem
}

/******************************************************************************/
/* Content. */

.content {
    padding: 4rem 2rem 4rem 2rem;
}

@media (min-width:48em) {
    .content {
        max-width: 48rem;
        margin-left: 20rem;
    }
}

@media (min-width:64em) {
    .content {
        max-width: 48rem;
        margin-left: 22rem;
    }
}

/******************************************************************************/
/* Posts. */

.post {
    padding-bottom: 4em
}

.post-title,
.post-title a {
    color: #303030;
    margin-top: 0
}

.post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a
}

/******************************************************************************/
/* Pagination. */

.pagination {
    overflow: hidden;
    color: #ccc;
    text-align: center
}
.pagination-item {
    display: block;
    padding: 1rem;
    border: 1px solid #eee
}
.pagination-item:first-child {
    margin-bottom: -1px
}
a.pagination-item:hover {
    background-color: #f5f5f5
}
@media (min-width:48em) {
    .pagination {
        margin: 3rem 0
    }
    .pagination-item {
        float: left;
        width: 50%
    }
    .pagination-item:first-child {
        margin-bottom: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px
    }
    .pagination-item:last-child {
        margin-left: -1px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px
    }
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}
.pagination > li {
    display: inline
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

/* TODO: Cleanup themes. */
/******************************************************************************/
/* Themes. */

.theme-base-08 .sidebar {
    background-color: #ac4142
}
.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover {
    color: #ac4142
}
.theme-base-09 .sidebar {
    background-color: #d28445
}
.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover {
    color: #d28445
}
.theme-base-0a .sidebar {
    background-color: #f4bf75
}
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
    color: #f4bf75
}
.theme-base-0b .sidebar {
    background-color: #90a959
}
.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover {
    color: #90a959
}
.theme-base-0c .sidebar {
    background-color: #75b5aa
}
.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover {
    color: #75b5aa
}
.theme-base-0d .sidebar {
    background-color: #6a9fb5
}
.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover {
    color: #6a9fb5
}
.theme-base-0e .sidebar {
    background-color: #aa759f
}
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
    color: #aa759f
}
.theme-base-0f .sidebar {
    background-color: #8f5536
}
.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover {
    color: #8f5536
}
.theme-base-08 .label {
    background-color: #ac4142
}
.theme-base-08 .pagination > li > a,
.theme-base-08 .pagination > li > span {
    color: #ac4142
}
.theme-base-08 .pagination > .active > a,
.theme-base-08 .pagination > .active > a:focus,
.theme-base-08 .pagination > .active > a:hover,
.theme-base-08 .pagination > .active > span,
.theme-base-08 .pagination > .active > span:focus,
.theme-base-08 .pagination > .active > span:hover {
    background-color: #ac4142;
    border-color: #ac4142
}
.theme-base-08 .pagination > .disabled > a,
.theme-base-08 .pagination > .disabled > a:focus,
.theme-base-08 .pagination > .disabled > a:hover,
.theme-base-08 .pagination > .disabled > span,
.theme-base-08 .pagination > .disabled > span:focus,
.theme-base-08 .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd
}
.theme-base-09 .label {
    background-color: #d28445
}
.theme-base-09 .pagination > li > a,
.theme-base-09 .pagination > li > span {
    color: #d28445
}
.theme-base-09 .pagination > .active > a,
.theme-base-09 .pagination > .active > a:focus,
.theme-base-09 .pagination > .active > a:hover,
.theme-base-09 .pagination > .active > span,
.theme-base-09 .pagination > .active > span:focus,
.theme-base-09 .pagination > .active > span:hover {
    background-color: #d28445;
    border-color: #d28445
}
.theme-base-09 .pagination > .disabled > a,
.theme-base-09 .pagination > .disabled > a:focus,
.theme-base-09 .pagination > .disabled > a:hover,
.theme-base-09 .pagination > .disabled > span,
.theme-base-09 .pagination > .disabled > span:focus,
.theme-base-09 .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd
}
.theme-base-0a .label {
    background-color: #f4bf75
}
.theme-base-0a .pagination > li > a,
.theme-base-0a .pagination > li > span {
    color: #f4bf75
}
.theme-base-0a .pagination > .active > a,
.theme-base-0a .pagination > .active > a:focus,
.theme-base-0a .pagination > .active > a:hover,
.theme-base-0a .pagination > .active > span,
.theme-base-0a .pagination > .active > span:focus,
.theme-base-0a .pagination > .active > span:hover {
    background-color: #f4bf75;
    border-color: #f4bf75
}
.theme-base-0a .pagination > .disabled > a,
.theme-base-0a .pagination > .disabled > a:focus,
.theme-base-0a .pagination > .disabled > a:hover,
.theme-base-0a .pagination > .disabled > span,
.theme-base-0a .pagination > .disabled > span:focus,
.theme-base-0a .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd
}
.theme-base-0b .label {
    background-color: #90a959
}
.theme-base-0b .pagination > li > a,
.theme-base-0b .pagination > li > span {
    color: #90a959
}
.theme-base-0b .pagination > .active > a,
.theme-base-0b .pagination > .active > a:focus,
.theme-base-0b .pagination > .active > a:hover,
.theme-base-0b .pagination > .active > span,
.theme-base-0b .pagination > .active > span:focus,
.theme-base-0b .pagination > .active > span:hover {
    background-color: #90a959;
    border-color: #90a959
}
.theme-base-0b .pagination > .disabled > a,
.theme-base-0b .pagination > .disabled > a:focus,
.theme-base-0b .pagination > .disabled > a:hover,
.theme-base-0b .pagination > .disabled > span,
.theme-base-0b .pagination > .disabled > span:focus,
.theme-base-0b .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd
}
.theme-base-0c .label {
    background-color: #75b5aa
}
.theme-base-0c .pagination > li > a,
.theme-base-0c .pagination > li > span {
    color: #75b5aa
}
.theme-base-0c .pagination > .active > a,
.theme-base-0c .pagination > .active > a:focus,
.theme-base-0c .pagination > .active > a:hover,
.theme-base-0c .pagination > .active > span,
.theme-base-0c .pagination > .active > span:focus,
.theme-base-0c .pagination > .active > span:hover {
    background-color: #75b5aa;
    border-color: #75b5aa;
    color: #fff
}
.theme-base-0c .pagination > .disabled > a,
.theme-base-0c .pagination > .disabled > a:focus,
.theme-base-0c .pagination > .disabled > a:hover,
.theme-base-0c .pagination > .disabled > span,
.theme-base-0c .pagination > .disabled > span:focus,
.theme-base-0c .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd
}
.theme-base-0d .label {
    background-color: #6a9fb5
}
.theme-base-0d .pagination > li > a,
.theme-base-0d .pagination > li > span {
    color: #6a9fb5
}
.theme-base-0d .pagination > .active > a,
.theme-base-0d .pagination > .active > a:focus,
.theme-base-0d .pagination > .active > a:hover,
.theme-base-0d .pagination > .active > span,
.theme-base-0d .pagination > .active > span:focus,
.theme-base-0d .pagination > .active > span:hover {
    background-color: #6a9fb5;
    border-color: #6a9fb5
}
.theme-base-0d .pagination > .disabled > a,
.theme-base-0d .pagination > .disabled > a:focus,
.theme-base-0d .pagination > .disabled > a:hover,
.theme-base-0d .pagination > .disabled > span,
.theme-base-0d .pagination > .disabled > span:focus,
.theme-base-0d .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd
}
.theme-base-0e .label {
    background-color: #aa759f
}
.theme-base-0e .pagination > li > a,
.theme-base-0e .pagination > li > span {
    color: #aa759f
}
.theme-base-0e .pagination > .active > a,
.theme-base-0e .pagination > .active > a:focus,
.theme-base-0e .pagination > .active > a:hover,
.theme-base-0e .pagination > .active > span,
.theme-base-0e .pagination > .active > span:focus,
.theme-base-0e .pagination > .active > span:hover {
    background-color: #aa759f;
    border-color: #aa759f
}
.theme-base-0e .pagination > .disabled > a,
.theme-base-0e .pagination > .disabled > a:focus,
.theme-base-0e .pagination > .disabled > a:hover,
.theme-base-0e .pagination > .disabled > span,
.theme-base-0e .pagination > .disabled > span:focus,
.theme-base-0e .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd
}
.theme-base-0f .label {
    background-color: #8f5536
}
.theme-base-0f .pagination > li > a,
.theme-base-0f .pagination > li > span {
    color: #8f5536
}
.theme-base-0f .pagination > .active > a,
.theme-base-0f .pagination > .active > a:focus,
.theme-base-0f .pagination > .active > a:hover,
.theme-base-0f .pagination > .active > span,
.theme-base-0f .pagination > .active > span:focus,
.theme-base-0f .pagination > .active > span:hover {
    background-color: #8f5536;
    border-color: #8f5536
}
.theme-base-0f .pagination > .disabled > a,
.theme-base-0f .pagination > .disabled > a:focus,
.theme-base-0f .pagination > .disabled > a:hover,
.theme-base-0f .pagination > .disabled > span,
.theme-base-0f .pagination > .disabled > span:focus,
.theme-base-0f .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd
}

/* Dark blue theme. */
.theme-base-darkblue .sidebar {
    background-color: #369
}
.theme-base-darkblue .content a,
.theme-base-darkblue .related-posts li a:hover {
    color: #369
}
.theme-base-darkblue .pagination > li > a,
.theme-base-darkblue .pagination > li > span {
    color: #369
}
.theme-base-darkblue .pagination > .active > a,
.theme-base-darkblue .pagination > .active > a:focus,
.theme-base-darkblue .pagination > .active > a:hover,
.theme-base-darkblue .pagination > .active > span,
.theme-base-darkblue .pagination > .active > span:focus,
.theme-base-darkblue .pagination > .active > span:hover {
    color: #fff;
    background-color: #369;
    border-color: #369
}
.theme-base-darkblue .pagination > .disabled > a,
.theme-base-darkblue .pagination > .disabled > a:focus,
.theme-base-darkblue .pagination > .disabled > a:hover,
.theme-base-darkblue .pagination > .disabled > span,
.theme-base-darkblue .pagination > .disabled > span:focus,
.theme-base-darkblue .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd
}
