{{ define "main" }}
<div class="content container">
    <h1 class="post-title">{{ .Section }}</h1>
    <style>
     table {
         border: none;
     }
     td, th {
         border: none;
         padding: 5px 10px;
         vertical-align: top;
     }
     tr:nth-child(even) {
         background-color: white;
     }
     /* Don't ask me why I have to specify this so weirdly here. Same is done in
     poole.css */
     /* TODO clean up css files. */
     tbody tr:nth-child(odd) td {
         background-color: white;
     }
    </style>
    <!-- <table class="posts"> -->
    <table>
        {{ range .Data.Pages }}
        <tr>
            <td><time>{{ .Date.Format "Jan 2, 2006" }}</time> </td>
            <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
        </tr>
        {{ end }}
    </table>
</div>
{{ end }}
