{{ define "footerfiles" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.3/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
{{ end }}

{{ define "main" }}
<div class="content container">
    <div class="post">
        <h1 class="post-title">{{ .Title }}</h1>
        <div>
            <form action="{{ "search" | absURL }}">
                <input type="text" id="search-query" name="s"/>
            </form>
            <div id="search-results">
                <!-- <h3>Matching pages</h3> -->
            </div>
        </div>
        <!-- This template is sucked in by search.js and appended to the search-results div above.
             So editing here will adjust style. -->
        <script id="search-result-template" type="text/x-js-template">
         <div id="summary-${key}">
         <h2><a href="${link}">${title}</a></h2>
         <p>${snippet}</p>
         ${ isset tags }<p>Tags: ${tags}</p>${ end }
         ${ isset categories }<p>Category: ${categories}</p>${ end }
         </div>
        </script>
    </div>
</div>

<script>
 document.getElementById('search-query').focus();
</script>
{{ end }}

