{{ with .Site.DisqusShortname }}
<script id="dsq-count-scr" src="//{{ . }}.disqus.com/count.js" async></script>
<script>
 var disqus_shortname = {{ . }};
 var disqus_config = function () {
     this.page.url = {{ $.Permalink }};
     this.page.identifier = {{ $.Title }};
 };
 (function() {
     var d = document, s = d.createElement('script');
     s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     s.setAttribute('data-timestamp', +new Date());
     (d.head || d.body).appendChild(s);
 })();
</script>
<noscript>Please enable JavaScript to view <a href="https://disqus.com/?ref_noscript">comments.</a></noscript>
{{ end }}
