<div class="icons">
    {{ with .Site.Params.github }}        <span class="icons-item"> <a href="{{ . }}" target="_blank"><i class="fab fa-github"></i></a>                                   </span> {{ end }}
    {{ with .Site.Params.bitbucket }}     <span class="icons-item"> <a href="{{ . }}" target="_blank"><i class="fab fa-bitbucket fa-1x"></i></a>                          </span> {{ end }}
    {{ with .Site.Params.stackOverflow }} <span class="icons-item"> <a href="{{ . }}" target="_blank"><i class="fab fa-stack-overflow fa-1x"></i></a>                     </span> {{ end }}
    {{ with .Site.Params.linkedin }}      <span class="icons-item"> <a href="{{ . }}" target="_blank"><i class="fab fa-linkedin fa-1x"></i></a>                           </span> {{ end }}
    {{ with .Site.Params.googleplus }}    <span class="icons-item"> <a href="{{ . }}" target="_blank"><i class="fab fa-google-plus fa-1x"></i></a>                        </span> {{ end }}
    {{ with .Site.Params.facebook }}      <span class="icons-item"> <a href="{{ . }}" target="_blank"><i class="fab fa-facebook fa-1x"></i></a>                           </span> {{ end }}
    {{ with .Site.Params.youtube }}       <span class="icons-item"> <a href="{{ . }}" target="_blank"><i class="fab fa-youtube fa-1x"></i></a>                            </span> {{ end }}
    {{ with .Site.Params.orcid }}         <span class="icons-item"> <a href="{{ . }}" target="_blank"><i class="fab fa-orcid fa-1x"></i></a>                              </span> {{ end }}
    {{ with .Site.Params.googleScholar }} <span class="icons-item"> <a href="{{ . }}" target="_blank"><i class="fab fa-google fa-1x"></i></a>                             </span> {{ end }}
    {{ with .Site.Params.email }}         <span class="icons-item"> <a href="{{ . }}"><i class="fas fa-envelope fa-1x"></i></a>                                           </span> {{ end }}
    {{ with .Site.Params.gpgkey }}        <span class="icons-item"> <a href="{{ . }}"><i class="fas fa-key fa-1x"></i></a>                                                </span> {{ end }}
    {{ if .Site.Params.rss }}             <span class="icons-item"> <a href="{{ "/index.xml" | absURL }}" type="application/rss+xml"><i class="fas fa-rss fa-3x"></i></a> </span> {{ end }}
</div>

{{ if .Site.Params.flattr }}
<div class="icons-item">
    <p><script id='flattr'>
        (function(id){
            var s = document.getElementById(id);
            var f = document.createElement('iframe');
            f.src = '//api.flattr.com/button/view/?uid={{ .Site.Params.flattr }}&button=compact&url={{ "/" | absURL }}&title={{ .Site.Title }}';
            f.title = 'Flattr';
            f.height = 20;
            f.width = 110;
            f.style.borderWidth = 0;
            s.parentNode.insertBefore(f, s);
        })('flattr');
    </script></p>
</div>
{{ end }}
