<span class="topbar-nav">
    <p>
        <span class="topbar-nav-item"><a href="{{ "/" | absURL }}">{{ if isset .Site.Params "home"}}{{ .Site.Params.home }}{{ else }}Blog{{ end }}</a></span>
        {{ range .Site.Menus.main }}
        <span class="topbar-nav-item">{{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a></span>
        {{end}}
        {{ range .Site.Menus.about }}
        <span class="topbar-nav-item">{{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a></span>
        {{end}}
        {{ range .Site.Menus.search }}
        <span class="topbar-nav-item">{{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a></span>
        {{end}}
    </p>
</span>
