<span class="topbar-nav">
    <p>
        {{ range .Site.Menus.main }}
        <span class="topbar-nav-item">
            {{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a>
        </span>
        {{end}}
        {{ range .Site.Menus.about }}
        <span class="topbar-nav-item">
            {{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a>
        </span>
        {{end}}
        {{ range .Site.Menus.search }}
        <span class="topbar-nav-item">
            {{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a>
        </span>
        {{end}}
    </p>
</span>
