{{ define "main" }}
<div class="content container">
    <div class="posts">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
        {{ range $paginator.Pages }}
        <div class="post">
            <h1 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            {{ partial "post-meta.html" . }}
            {{ .Summary }}
            {{ if .Truncated }}<a href="{{ .Permalink }}">&nbsp;Read on &hellip;</a>{{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
